<div class="body">
<app-navbar></app-navbar>

<div>
    <div class="container-fluid">
        
        <br>

        <div class="col-8 card" style="margin: auto;">

            <h1 class="text-white font-weight-bold bigger-text">Books</h1>
            <!-- search and sort form -->
            <div>

                <div style="padding: 10px; float: left;">
                    <div>
                        <h3 style="color: white;">Sort by: </h3>
                    </div>
                
                
                    <select (change)="sortBy($event)" class="menu custom-select" name="sort" id="sort">
                        <option value="Relevence">Relevence</option>
                        <option value="1">Title A-Z</option>
                        <option value="2">Title Z-A</option>
                        <option value="3">Author A-Z</option>
                        <option value="4">Author Z-A</option>
                    </select>
                   
                </div>
                <div style="padding: 10px; float: right;">
                    <div>
                        <h3 style="color: white;">Search by: </h3>
                    </div>
                    <div style="float: left;">
                    <form action="">
                                <div class="form-group" style="float: left;">
                                    <div style="margin: 5px; float: left;">
                                        <label for="searchType" style="color: white;">Search Type</label>
                                    </div>
                                    <div class="inner" style="margin: 5px; float: left;">
                                        <select class="form-control"
                                            style="background-color: rgb(201, 161, 109); color: #49231c; font-weight: bold;" id="searchType" [(ngModel)]="searchType" name="searchType">
                                            <option value="title">Title</option>
                                            <option value="author">Author</option>
                                            <option value="subject">Subject/Category</option>
                                            <option value="isbn">ISBN</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="float: left; margin: 5px;">
                                    <input type="text" class="form-control" id="parameters" placeholder="Search" [(ngModel)]="search" name="search">
                                </div>
                                <div style="float: left; margin: 5px;">
                                    <span class="inner"><button class="btn" id="search" (click)="newSearch()">Search</button></span>
                
                                </div>
                            </form>
                    </div>
                
                    <div style="margin: 5px; float: left;">
                        <a class="nav-link btn" routerLink="/advancesearch">Advanced Search </a>
                                          </div>
                </div>
                </div>
            
          
        </div>
        <br>
      
        <!-- buttons for pageination -->
        <div class="row col-8" style="margin: auto;">
            <button class="btn" style="float: right;" (click)="Decrement()">Previous</button>
            <p style="padding: 5px; background-color: #49231c; float: right; color: rgb(201, 161, 109)">Page: {{pageNumber}}</p>
        <button class="btn" style="float: right;" (click)="Increment()">Next</button>
                    </div>
        <div class="col-8" style="margin: auto;">
            
            <div class="scrollable card">
                <table class="table table-dark table-borderless tablesorter" id="booksTable">

                    <thead class="thead-dart">
                        <tr>
                            <th scope="col">Book Cover</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of items">
                            <!--Book list composed of search results + page number-->
                            <td ng-container *ngIf="book.volumeInfo.imageLinks == null; else elseImage">
                                thumbnail unavailable</td>
                            <ng-template #elseImage><img src="{{ book.volumeInfo.imageLinks.thumbnail }}"
                                    class="img-fluid img-thumbnail" width="200" height="500" alt="">
                            </ng-template>

                            <td class="col-title">{{ book.volumeInfo.title }}</td>

                            <td class="col-author" ng-container *ngIf="book.volumeInfo.authors == null else elseBlock1">
                                Author not found</td>
                            <ng-template #elseBlock1>{{ book.volumeInfo.authors }}</ng-template>

                            <td class="col-isbn" ng-container
                                *ngIf="book.volumeInfo.industryIdentifiers == null; else elseIfOther">isbn not
                                available</td>
                            <ng-template #elseIfOther>
                                <td class="col-isbn" ng-container
                                    *ngIf="book.volumeInfo.industryIdentifiers[0].type == 'OTHER'; else elseIf2">
                                    isbn 13 not available</td>
                            </ng-template>
                            <ng-template #elseIf2>
                                <td class="col-isbn" ng-container
                                    *ngIf="book.volumeInfo.industryIdentifiers[0].type == 'ISBN_13'; else elseIf">
                                    {{ book.volumeInfo.industryIdentifiers[0].identifier }}</td>
                            </ng-template>
                            <ng-template #elseIf>
                                <td class="col-isbn" ng-container
                                    *ngIf="book.volumeInfo.industryIdentifiers[1].type == 'ISBN_13'; else elseBlock">
                                    {{ book.volumeInfo.industryIdentifiers[1].identifier }}</td>
                            </ng-template>
                            <ng-template #elseBlock>isbn 13 is not available for this selection</ng-template>


                            <td ng-container *ngIf="book.saleInfo == null; else elsePrice1">price unavailable
                            </td>
                            <ng-template #elsePrice1>
                                <td class="col-price"
                                    *ngIf="book.saleInfo.saleability == 'FREE'; else elsePrice2">FREE</td>
                            </ng-template>
                            <ng-template #elsePrice2>
                                <td class="col-price"
                                    *ngIf="book.saleInfo.saleability == 'NOT_FOR_SALE'; else elsePrice3">item
                                    not for sale </td>
                            </ng-template>
                            <ng-template #elsePrice3>
                                <td class="col-price" *ngIf="book.saleInfo.retailPrice.amount"> $ {{
                                    book.saleInfo.retailPrice.amount }} </td>
                            </ng-template>



                            <td>
                                <button class="btn btn-info">Learn More</button>

                            </td>
                            <td>
                                <button class="btn btn-primary">Add to Library</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
<!-- buttons for pageination -->
        <div class="row col-8" style="margin: auto;">
            <button class="btn" style="float: right;" (click)="Decrement()">Previous</button>
            <p style="padding: 5px; background-color: #49231c; float: right; color: rgb(201, 161, 109)">Page: {{pageNumber}}</p>
        <button class="btn" style="float: right;" (click)="Increment()">Next</button>
                    </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>

</div>
