.body {
    width: 100%;
    background-image: url("/assets/img/photo-1507842217343-583bb7270b66.jfif");
    /* position: fixed; */
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bigger-text {
    font-size: 64px;
}

h1 {
    margin-left: 8px;
}

h3 {
    margin-left: 30px;
    /* display: inline-block; */
    margin-right: 30px;
}

#sort {
    margin-left: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.inner {
    display: inline-block;
    color: white;
    font: bold;
}

/* #outer {
    min-width: 1000px;
    
} */

.card {
    background-color: #49231c;
}

#booksTable {
    background-color: #49231c;
}

.btn {
    background-color: rgb(201, 161, 109); 
    color: #49231c;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(248, 233, 221);
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 750px;
}

.menu{
    background-color: rgb(201, 161, 109); 
    color: #49231c;
    font-weight: bold;
}

.fixTableHead {
    overflow-y: auto;
    height: 110px;
  }
  .fixTableHead thead th {
    position: sticky;
    top: 0;
    
  }

  .sort:hover{
      background-color: rgb(201, 161, 109); 
      /* color: #49231c; */
      cursor: pointer
  }

  .headerbg {
    background-color: #49231c;
  }